header {
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 20px 0px;
    .flex {
        border-radius: 50px;
        height: 80px;
        background: var(--white);
        justify-content: space-between;
        align-items: center;
        &.container {
            box-shadow: 0 3px 10px var(--quote-background);
        }
        img {
            margin-left: 40px;
        }
        font-size: 20px;
        .top {
            color: var(--header-top);
            text-transform: uppercase;
            text-decoration: underline;
            margin-right: 21px;
        }
        .service,
        .profile {
            color: var(--header-service);
            margin-right: 31px;
            text-decoration: none;
        }
        button {
            width: 256px;
            height: 80px;
            border-radius: 50px;
            border: 0;
            align-items: center;
            justify-content: space-around;
            background-image: linear-gradient(90deg, var(--header-top), #7cffe6, var(--white));
            cursor: pointer;
            color: var(--white);
            font-size: 20px;
            img {
                width: 25px;
                height: 25px;
                margin-left: 0;
            }
        }
    }
}

.quotes {
    width: 100%;
    background: var(--quote-background-2);
    padding-top: 160px;
    .container {
        justify-content: space-between;
    }
    .content {
        margin-top: 120px;
        margin-bottom: 5%;
        p {
            margin-bottom: 45px;
            font-size: 18px;
            img {
                margin-bottom: 28px;
                &.close {
                    margin-left: 5px;
                    margin-bottom: -13px;
                    margin-top: 30px;
                }
            }
            .title {
                font-size: 50px;
                line-height: 59px;
                font-family: "Roboto", sans-serif;
            }
        }
        div {
            width: 432px;
            height: 210px;
            margin-left: 32px;
            p {
                &:last-child {
                    margin-top: 20px;
                }
            }
        }
    }
    img {
        margin-top: 0;
        margin-bottom: 5%;
    }
}

.detail {
    background: var(--white);
    padding-bottom: 160px;
    .expertise {
        position: relative;
        top: -60px;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        div {
            background: var(--white);
            border-radius: 16px;
            flex-direction: column;
            align-items: center;
            padding: 28px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
            img {
                width: 100px;
                height: 100px;
                margin-bottom: 7px;
            }
            .title {
                font-size: 40px;
                font-weight: 700;
                font-family: "Roboto", sans-serif;
                color: var(--header-service);
                margin-bottom: 19px;
            }
            .content {
                color: var(--header-top);
                text-align: center;
                font-size: 18px;
            }
            &.customer {
                background: var(--header-top);
                padding: 30px;
                .title {
                    color: var(--white);
                    margin-bottom: 8px;
                }
                .content {
                    color: var(--content-customer);
                    line-height: 28px;
                    font-weight: 400;
                }
                button {
                    width: 239px;
                    height: 70px;
                    margin-top: 10px;
                    border: 0;
                    border-radius: 16px;
                    font-weight: 700;
                    font-size: 20px;
                    background: var(--white);
                    padding: 20px 46px;
                    p {
                        background-image: linear-gradient(90deg, var(--quote-background), var(--header-top));
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -moz-text-fill-color: transparent;
                    }
                }
            }
        }
    }
    .articles {
        margin-top: 100px;
        .title {
            font-weight: 700;
            color: var(--header-top);
            font-size: 20px;
            text-align: center;
            line-height: 24px;
            margin-bottom: 10px;
        }
        .sub-title {
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            font-size: 40px;
            line-height: 47px;
            color: var(--header-service);
            text-align: center;
            margin-bottom: 43px;
        }
        .info {
            border-top: solid 2px var(--quote-background);
            border-bottom: solid 2px var(--quote-background);
            height: 120px;
            grid-template-columns: repeat(3, 1fr);
            gap: 80px;
            text-align: center;
            align-items: center;
            margin-bottom: 160px;
            p {
                color: var(--header-top);
                font-size: 20px;
                font-weight: 400;
                span {
                    font-weight: 700;
                }
            }
        }
        .article-content {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            div {
                background: var(--white);
                border-radius: 16px;
                flex-direction: column;
                align-items: center;
                padding: 38px 30px 33px 30px;
                height: 380px;
                box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
                color: var(--header-top);
                img {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 20px;
                }
                .title {
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 12px;
                    line-height: 43px;
                }
                .content {
                    text-align: center;
                    font-size: 16px;
                    line-height: 24px;
                }
                &.customer {
                    align-items: normal;
                    padding: 0 30px;
                    box-shadow: unset;
                    text-align: start;
                    .extra {
                        text-transform: uppercase;
                        color: var(--header-top);
                        font-weight: 700;
                        font-family: "Roboto", sans-serif;
                        margin-bottom: 10px;
                    }
                    .title {
                        color: var(--header-service);
                        font-size: 40px;
                        font-family: "Roboto", sans-serif;
                        line-height: 47px;
                        margin-bottom: 12px;
                        text-align: start;
                    }
                    .content {
                        line-height: 28px;
                        text-align: start;
                        color: var(--header-service);
                        margin-bottom: 42px;
                        font-weight: 400;
                    }
                    button {
                        width: 239px;
                        height: 70px;
                        background-image: linear-gradient(90deg, var(--quote-background), var(--header-top));
                        border: 0;
                        border-radius: 16px;
                        color: var(--white);
                        font-weight: 700;
                        font-size: 20px;
                        font-family: "Roboto", sans-serif;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}

.customer {
    background-image: linear-gradient(90deg, var(--quote-background), var(--header-top));
    padding: 22px 50px 12px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    .grid {
        margin-top: 23px;
        grid-template-columns: repeat(5, 1fr);
        gap: 50px;
        .customer-image {
            height: 120px;
            margin: 0;
            align-items: center;
            background: var(--white);
            justify-content: center;
        }
    }
}

.technology {
    padding: 160px 0;
    background: var(--white);
    text-align: center;
    .title {
        font-size: 20px;
        font-weight: 700;
        color: var(--header-top);
        line-height: 24px;
        font-family: "Roboto", sans-serif;
    }
    .sub-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        color: var(--header-service);
    }
    img {
        margin-top: 20px;
    }
}

.about {
    background: var(--white);
    .image {
        background: var(--about-image);
        height: 559px;
        img {
            width: 100%;
            opacity: 0.4;
            height: 559px;
            object-fit: cover;
        }
    }
    .about-info {
        background: var(--white);
        .container {
            position: relative;
            top: -362px;
            text-align: center;
            color: var(--white);
            margin-bottom: -150px;
            .title {
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                color: var(--white);
                margin-bottom: 23px;
                font-weight: 700;
            }
            .sub-title {
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 90px;
            }
            .about-detail {
                text-align: start;
                box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
                border-radius: 16px;
                .grid {
                    grid-template-columns: repeat(6, 1fr);
                    padding: 33px 0;
                    border-bottom: 1px solid var(--white);
                    .about-title {
                        font-weight: 700;
                    }
                    .about-content {
                        grid-column: span 5;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
                .left {
                    width: 50%;
                    background: var(--about-left);
                    padding: 0 30px;
                    border-radius: 16px 0 0 16px;
                }
                .right {
                    width: 50%;
                    background: var(--white);
                    padding: 0 30px;
                    color: var(--quote-background);
                    border-radius: 0 16px 16px 0;
                    .grid {
                        border-bottom: 1px solid var(--quote-background);
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}

footer {
    padding: 65px 0;
    background: var(--quote-background);
    height: 200px;
    color: var(--content-customer);
    .container {
        justify-content: space-between;
    }
    .footer-right {
        flex-direction: column-reverse;
    }
}
